# Package Release Workflow

# Useful References:
#   - https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#   - https://docs.github.com/en/actions/learn-github-actions/contexts
#   - https://docs.github.com/en/actions/learn-github-actions/environment-variables
#   - https://docs.github.com/en/actions/using-workflows/triggering-a-workflow
#   - https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows
#   - https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

name: Module Release Build

env:
  node_version: 20

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      # Install dev dependencies
      - name: Install dependencies
        run: npm ci --ignore-scripts

      # Compile Database Packs, JavaScript, and CSS
      - name: Compile
        run: npm run compile

      - name: Set up variables
        id: get_vars
        run: |
          TAG=${GITHUB_REF/refs\/tags\//}
          echo "TAG_NAME=$TAG" >> $GITHUB_ENV
          echo "ZIP_NAME=restored-keep-levels-$TAG.zip" >> $GITHUB_ENV
          echo "RELEASE_DOWNLOAD_URL=https://github.com/${{ github.repository }}/releases/download/$TAG/restored-keep-levels-$TAG.zip" >> $GITHUB_ENV
          echo "RELEASE_INSTALL_URL=https://github.com/${{ github.repository }}/releases/download/$TAG/module.json" >> $GITHUB_ENV

      # Modify "module.json" with values specific to the release.
      - name: Modify Module Manifest With Release-Specific Values
        id: sub_manifest_link_version
        uses: microsoft/variable-substitution@v1
        with:
          files: "module.json"
        env:
          version: ${{github.event.release.tag_name}}
          download: ${{ env.RELEASE_DOWNLOAD_URL }}

      # Create a "module.zip" archive containing all the module required files.
      - name: Create Module Archive
        run: |
          zip ${{ env.ZIP_NAME }} -r        \
            module.json                     \
            assets                          \
            packs/scenes

      # Update the GitHub release with the manifest and module archive files.
      - name: Update Release With Files
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: ${{ github.event.release.name }}
          draft: ${{ github.event.release.unpublished }}
          prerelease: ${{ github.event.release.prerelease }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './module.json, ./${{ env.ZIP_NAME }}'
          tag: ${{ github.event.release.tag_name }}
          body: ${{ github.event.release.body }}
